<!DOCTYPE html>
<html>
  <head>
    <title>Jogo de Baralho</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0">
  </head>
  <body>

    <div class="parent" >
      <div class="left-panel" name="game">
        <!-- Conteúdo da div esquerda -->
        <div class="l-top-panel" name="ia"> 
          <div class="card">  </div>
          <div class="card">  </div>
        </div>

        <div class="divide"> </div>

        <div class="l-bottom-panel" name="user"> 
          <div class="card">  </div>
          <div class="card">  </div>
          <div class="card">  </div>

        </div>
      </div>

      <div class="right-panel">

        <div class="top-panel" name="pontuation">
          <!-- Conteúdo da div superior direita -->
          <div id="pontuation-computer">
            Pontos IA:
          </div>
          
          <div id="pontuation-user">
            Pontos Usuário:
          </div>
        </div>

        <div class="bottom-panel" name="statistics">
          <!-- Conteúdo da div inferior direita -->
          statistics IA
        </div>

      </div>

    </div>

  </body>
</html>
